/* Importa a fonte "Quicksand" do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Aplica a fonte "Quicksand" a todos os elementos */
* {
    font-family: "Quicksand", sans-serif;
}

/* Reseta margens e preenchimentos e define box-sizing para border-box */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estiliza o cabeçalho */
header {
    display: flex; /* Utiliza o Flexbox para layout */
    justify-content: space-between; /* Espaça os itens no cabeçalho */
    align-items: center; /* Alinha os itens verticalmente no centro */
    padding: 20px;
    background-color: #fff; /* Cor de fundo branca */
    border-bottom: 1px solid #ddd; /* Borda inferior cinza claro */
}

/* Estiliza o logo */
#logo {
    height: 8vh; /* Altura do logo em viewport height */
    width: 6vw;  /* Largura do logo em viewport width */
    margin: 0%;
    padding: 10px;
}

/* Estiliza o botão de conta */
.account {
    background-color: #eda3fc; /* Cor de fundo lilás claro */
    padding: 10px 20px;
    border-radius: 5px; /* Bordas arredondadas */
    color: #fff; /* Cor do texto branca */
}

/* Estiliza os links de navegação */
nav a {
    margin: 0 10px; /* Margens laterais dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #333; /* Cor do texto dos links */
}

/* Estiliza o botão de chamada para ação (cta) */
nav .cta {
    background-color: #EFC9C9; /* Cor de fundo rosa claro */
    padding: 5px 10px;
    border-radius: 4px; /* Bordas arredondadas */
}

/* Estiliza o conteúdo principal */
main {
    padding: 20px;
    text-align: center; /* Alinha o texto ao centro */
}

/* Estiliza a seção de introdução */
.intro {
    margin-bottom: 20px;
}

.intro h1 {
    margin: 0;
    font-size: 24px; /* Tamanho da fonte do título */
}

.intro p {
    font-size: 18px; /* Tamanho da fonte do parágrafo */
    color: #666; /* Cor do texto cinza escuro */
}

/* Estiliza o conteúdo */
.content {
    display: flex; /* Utiliza o Flexbox para layout */
    flex-direction: column; /* Alinha os itens em coluna */
    gap: 20px; /* Espaçamento entre itens */
}

/* Estiliza as seções */
.section {
    padding: 20px;
    background-color: #F5F5F5; /* Cor de fundo cinza claro */
    border-radius: 8px; /* Bordas arredondadas */
    text-align: left; /* Alinha o texto à esquerda */
}

/* Estiliza as imagens dentro das seções */
.section img {
    display: block; /* Faz com que a imagem seja exibida como bloco */
    margin: 10px 0; /* Margens superior e inferior */
    max-width: 100%; /* Limita a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

/* Estiliza seções específicas com cores de fundo diferentes */
#what-is {
    background-color: #f0cff7; /* Cor de fundo lilás claro */
}

#symptoms {
    background-color: #f6f9d1; /* Cor de fundo amarela pálida */
}

#what-to-do {
    background-color: #f0cff7; /* Cor de fundo lilás claro */
}

#video{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    border-radius: 10px;
}