@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

#logo {
    height: 8vh;
    width: 6vw; 
    margin: 0%;
    padding: 10px;
}

.account {
    background-color:  #eda3fc;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

nav .cta {
    background-color: #EFC9C9;
    padding: 5px 10px;
    border-radius: 4px;
}

input[type="text"] {
    padding: 8px;
    margin-right: 20px;
    width: 300px;
}

.about-us {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.about-us img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.about-text {
    max-width: 600px;
}

.about-text h1 {
    color: #333;
    margin: 0 0 10px 0;
}

.about-text p {
    line-height: 1.5;
    color: #666;
}
